# ignore classes
*.class

# ignore test dictionaries
*.lst

# Dot files in project you do not want
# Found out may be necessary, uncomment if not
#.project
#.classpath

# class folders
classes/
bin/

